%h1 Listing specimen

%table
  %tr
    %th Id
    %th Parent
    %th Type
    %th Label
    %th
    %th
    %th

  - @specimen.each do |speciman|
    %tr
      %td= speciman.id
      %td= speciman.parent
      %td= speciman.type
      %td= speciman.label
      %td= link_to 'Show', speciman
      %td= link_to 'Edit', edit_speciman_path(speciman)
      %td= link_to 'Destroy', speciman, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Speciman', new_speciman_path
